@media (max-width: 768px) {
    .header__title {
        font-size: 48px;
        line-height: 56px;
    }
    .header__title span {
        font-size: 32px;
        line-height: 40px;
    }
}

@media (max-width: 540px) {
    .header__title {
        font-size: 32px;
        line-height: 38px;
    }
    .header__title span {
        font-size: 22px;
        line-height: 28px;
    }
    .header__subtitle {
        font-size: 16px;
        line-height: 22px;
    }
}

@media (max-width: 375px) {
    .btn__text {
        margin-left: -76px;
    }
}